<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="jiudiandashaojilv.Properties.Settings._dataConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\3.mdb;Persist Security Info=True;Jet OLEDB:Database Password=rxzzp"
            providerName="System.Data.OleDb" />
        <add name="jiudiandashaojilv.Properties.Settings.jiudiandashaojiluConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=jiudiandashaojilu;Persist Security Info=True;User ID=sa;Password=123411"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>